a.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none;
}

.goog-te-combo {
    display: flex;
    background: transparent;
    margin-top: 5px;
    gap: 0.25rem; /* Equivalent to gap-x-1 */
    align-items: center; /* Equivalent to items-center */
    margin-top: 1.25rem; /* Equivalent to mt-5 */
    border-width: 2px; /* Equivalent to border-2 */
    border-color: #ea580c; /* Equivalent to border-orange-600 */
    padding-left: 1.5rem; /* Equivalent to px-6 */
    padding-right: 1.5rem; /* Equivalent to px-6 */
    padding-top: 0.75rem; /* Equivalent to py-2 */
    padding-bottom: 0.75rem; /* Equivalent to py-2 */
    border-radius: 9999px; /* Equivalent to rounded-full */
    color: #ea580c; /* Equivalent to text-orange-600 */
    font-weight: 600; /* Equivalent to font-semibold */
    transition-property: all; /* Equivalent to transition-all */
    transition-duration: 0.3s; /* Equivalent to duration-300 */
}

/* .goog-te-combo select option{
    background: transparent !important;
} */
.skiptranslate.goog-te-gadget::before {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
  }

